<%= image_tag 'line5.png', class: 'cooking-line-img' %>
<div class="user-wrapper">
    <div class="contain">
        <p class="title">友達リクエスト</p>
        <div class="user-edit">
            <span>○メッセージ :</span>
            <textarea name="content"></textarea>
            <div class="submit">
                    <input type="submit" value="送信">
                </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<%= render 'shared/footer' %>