<%= image_tag 'user-line.png', class: 'user-line-img' %>
<div class="user-wrapper">
    <div class="contain">
        <%= form_tag("/users/invite_create") do %>
            <p class="title">招待</p>
            <div class="user-invite">
                <span>○お友達のメールアドレス :</span>
                    <input name="friend_email" >
                <spam>○メッセージ :</span>
                    <textarea name="text">一緒に子育て楽しもう！<%= @user.user_name %>より</textarea>
                <div class="submit">
                    <input type="submit" value="招待">
                </div>
            </div>
        <% end %>
        <div class="clear"></div>
    </div>
</div>

<%= render 'shared/footer' %>