<!--<div class="post-lnks">-->
    
<!--        <%= link_to ("/posts/new") do %>-->
<!--        <div class="to-post"></div>-->
<!--        <% end %>-->
<!--    <div class="to-index">-->
<!--        <%= link_to("INDEX", "/posts/index") %>-->
<!--    </div>-->
<!--</div>-->