<div class="wrapper">
   <div class="cooking-left">
    <%= image_tag 'cooking.png', class: 'menu-img' %>
    <p>りょうり</p>
    </div>      
    <div class="cooking-right">
        <p>みんなの投票掲示板</p>
        <p>Ｑ1　子供と一緒に料理をしますか？</p>
        <ul>
            <li>よくします！</li>
            <li>たまーに</li>
            <li>できてないなぁ...</li>
        </ul>
        <p>Ｑ2　子供の喜ぶメニューは？</p>
        <ul>
            <li>ハンバーグ</li>
            <li>カレー</li>
            <li>オムライス</li>
            <li>その他</li>
        </ul>
    </div>
<div class="clear"></div>
<div class="cooking-main">
<h3><span>子供との時間をつくろう！</span>ー忙しいママへの「つくおき」完全版まとめー</h3>
<p>今週のメニュー</p>
<div class="cooking-menu">
　<ul>
　    <li>調理時間：3−４h</li>
　    <li>食材費：６千円程度（調味料等除く）</li>
　</ul>
　<p>メイン５品</p>
　<ul>
　    <li>●和風てりやきバーグ</li>
　    <li>●ドライカレー</li>
　    <li>●梅じそチーズ棒つくね</li>
　    <li>●鮭の焦がし醤油</li>
　    <li>●ぶりの塩麹</li>
　</ul>
　<p>サブ１０品</p>
　<ul>
　    <li>○人参しりしり</li>
　    <li>○もやしナムル</li>
　    <li>○ピーマンとちくわのキンピラ</li>
　    <li>○ひじき</li>
　    <li>○枝豆塩こんぷ</li>
　    <li>○ほうれん草のおひたし</li>
　    <li>○かぼちゃの煮物</li>
　    <li>○エノキとチンゲンサイのおひたし</li>
　    <li>○つぶつぶマスタードのコールスロー</li>
　    <li>○春雨サラダ</li>
　</ul>
　</div>
　</div>
　<p>Cooking with kids</p>
　
　</div>