<!DOCTYPE html>
<html lang="ja">
<head>
  <meta content="text/html; charset=UTF-8" />
</head>
<body>
  <h2>こそだて広場に遊びに来てね！</h2>
  <p>メッセージが届いたよ！</p>
  <p><%= @invite.message %></p>
  <hr />
</body>
</html>